*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%; /*altura */
    width: 100%; /*comprimento*/
    display: flex;
    justify-content: center;
    background: linear-gradient(#75e0fb, #bbb9b4); /*fundo do corpo*/
    background-repeat: no-repeat;

}
.imagem{
    display: flex;
    justify-content: center;

}
.imagem img{
    width: 170px; /*tamanho foto do logo*/
    border-radius: 200px;
    margin-top: 30px;
}
.nome{
    display: flex; /* EXPLICAR */
   margin-top: 10px; /* MARGEM SUPERIOR */
   justify-content: center;
   font-size: 32px; /* TAMANHO DO TEXTO FONTE   */
   color: rgb(39, 31, 21); /* COR DO TEXTO    */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.redes-sociais{
    margin-top: 20px; /* margin superior */
    display: flex;
    justify-content: center;
    align-items: center;

}
.redes-sociais a{
    text-decoration: none;

}
.icone, #email{
    display: flex;
    height: 35px;
    width: 35px;
    transition: all o.3s ease-in-out;
    border-radius: 35px;
    box-shadow: 0 5px 5px rgba(0, 0, .1);
    margin: 3px;
    overflow: hidden;
    background-color: blue;
}
.icone i, #email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    background-color: rgb(97, 123, 156);
    color: rgb(222, 183, 120);
}
.icone span a{
    margin: auto;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: right;
    margin-left: 10px;
    color: black;
    line-height: 35px;
    font-size: 15px;
}
.icone:hover{
    width: 125px;
    background-color: rgb(224, 232, 234);
}

