*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%; /*altura */
    width: 100%; /*comprimento*/
    display: flex;
    justify-content: center;
    background: linear-gradient(#87d0fa, #bbb9b4); /*fundo do corpo*/
    background-repeat: no-repeat;

}
.imagem{
    display: flex;
    justify-content: center;

}
.imagem img{
    width: 170px; /*tamanho foto do logo*/
    border-radius: 200px;
    margin-top: 30px;
}
.nome{
    display: flex; /* EXPLICAR */
   margin-top: 10px; /* MARGEM SUPERIOR */
   justify-content: center;
   font-size: 32px; /* TAMANHO DO TEXTO FONTE   */
   color: rgb(39, 31, 21); /* COR DO TEXTO    */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.redes-sociais{
    margin-top: 20px; /* margin superior */
    display: flex;
    justify-content: center;
    align-items: center;

}
.redes-sociais a{
    text-decoration: none;

}
.icone, #email{
    display: flex;
    height: 35px;
    width: 35px;
    transition: all o.3s ease-in-out;
    border-radius: 35px;
    box-shadow: 0 5px 5px rgba(0, 0, .1);
    margin: 3px;
    overflow: hidden;
    background-color: blue;
}
.icone i, #email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    background-color: rgb(11, 101, 218);
    color: rgb(237, 231, 221);
}
.icone span a{
    margin: auto;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: right;
    margin-left: 10px;
    color: black;
    line-height: 35px;
    font-size: 15px;
}
.icone:hover{
    width: 125px;
    background-color: rgb(224, 232, 234);
}

.texto {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 50px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    width: 500px;
    height: 100px;
    padding: 25px;
    border-radius: 10px;
    color: rgb(210, 241, 250);
    background-color: rgb(17, 17, 23);
    overflow: hidden;
    box-shadow: 5px 3px 100px rgb(241, 237, 237);

}
.sobre-mim {
    position: absolute;
    top: 10px;
    display: flex;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 30px;
    line-height: 35px;

}
.subtitulo {
    font-weight: 100px;
    display: flex;
    justify-content: center;
    font-weight: 450;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 11, 18);
    margin top: 100px;
    margin-bottom: 50px;

}
.linguagem{
    display: flex;
    justify-content: center;
    

}
.linguagem .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(17, 17, 23);
    margin: 5px;
    
}


